:root {
  --max-width: 100%;
  --max-height: 100%;
  --border-radius: 12px;
  --background-color: black;
  --border-radius: 12px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
    text-align: center;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
