.componentBody {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px;
  border-color: black;
  border-style: solid;
  background-color: white;
  margin-top: 5px;
}

.optionButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 10%;
}

.finishedButton {
  height: 100%;
  width: 48%;
  margin-right: 4%;
  background-color: rgb(150, 150, 150);

}

.cancelButton {
  height: 100%;
  width: 48%;
  background-color: rgb(150, 150, 150);
}

.textContainer {
  width: 90%;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
}

.descryptionTextContainer {
  width: 50%;
  text-align: left;
}

.categoryTextConatiner {
  width: 40%;
}

.descriptionText {
  width: 100%;
  color: black;
}

.categoryText {
  width: 100%;
  color: black;
}
