.componentBody {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px;
  border-color: black;
  border-style: solid;
  background-color: white;
  margin-top: 5px;
}

.optionButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 10%;
}

.finishedButton {
  height: 100%;
  width: 48%;
  margin-right: 4%;
  background-color: rgb(150, 150, 150);

}

.cancelButton {
  height: 100%;
  width: 48%;
  background-color: rgb(150, 150, 150);
}

.textContainer {
  width: 90%;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.descriptionText {
  min-width: 50%;
  margin-right: 10%;
  color: black;
}

.categoryText {
  max-width: 40%;
  min-width: 30%;
  color: black;
}
