.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  background-color: grey;
  margin: 1rem;
}

.historyContainer {
  height: 80%;
  width: 70%;
  background-color: white;
  border-color: greenyellow;
}
